{% extends 'pet/base.html' %}
{% load static%}

{% block titulo %}listado de articulos{% endblock %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'pet/styles/listado_articulos.css' %}">
    

    {% endblock %}
    {% block main %}
    <h1>Listado de Artículos</h1>

    <!-- Formulario de búsqueda -->
    <form method="get" action="{% url 'listado_articulos' %}" class="search-form">
        <input  type="text" name="q" placeholder="Buscar por nombre o proveedor" value="{{ request.GET.q }}">
        <button type="submit">Buscar</button>
    </form>


    <section class="container-section">
        {% for producto in productos %}
            <div class="article-div"> 
                <div class="article-content">
                    <div class="article-description">
                        <p>Nombre: {{ producto.nombre }}</p>
                        <p>Descripcion: {{ producto.descripcion }}</p>
                        <p>Precio: {{ producto.precio }}</p>
                        <p>Ean: {{ producto.ean }}</p>
                        <p>Proveedor :{{ producto.empresa }}</p>
                    </div>
                    <div class="article-img">
                        <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}">
                    </div>
                    <div class="article-actions">
                        <a class="nav-a" href="{% url 'editar_producto' producto.pk %}">Editar</a>
                        <a class="nav-a" href="{% url 'borrar_producto' producto.pk %}" onclick="return confirm('¿Estás seguro de que quieres borrar este producto?');">Borrar</a>
                        <a class="nav-a" href="{% url 'actualizar_precios' %}">Actualizar Precio</a>
                    </div> 
                </div>
               
            </div>
        {% empty %}
           <div class="article-div">
                <p>No hay artículos cargados</p>
            </div>
        {% endfor %}
    </section>
    {% endblock %}

